body {
    background-color: #f8f9fa;
}

.form-wrapper {
    max-width: 600px;
    width: 100%;
}

#lottieLoader {
    display: none;
    visibility: hidden;
    height: 0;
}

#outputTextLabel {
    display: none;
}

#lottieAnimation {
    width: 100px; 
    height: 100px;
}